/* Untuk Tablet */
@media all and (max-width: 1000px) {

  .header-right{
    margin-right: 3px;
  }
  .card-wrapper{
    float: left;
  }
  .card {
    width: 50%;
    margin-bottom: 20px; 
  }
  
  .top-wrapper h1 {
    font-size: 45px;
  }
  .logo-wrapper{
    width: 280px;
    
  }
  .wrapper-left{
    display: block;
    margin-left: 83px; 
  }
  .wrapper-right{
    display: block;
    margin-right: auto;

  }
  .heading h2 {
    font-size: 20px;
  }
  .column-right{
    display: none;
  }
  .column-left{
    margin-right:auto;
    margin-left:auto; 
    width:90.3%;
  }
  .about-section {
    height: 370px ;
  }
  .about-section p{
  font-size:18px ;
  }

  .gam{
    width: 40%;
  }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .heading h1{
    font-size: 25px;
    text-align: center;
  }
  .card {
    width: 100%;
  }
  
  footer img {
    width: 85px;

  }

  footer p {
    font-size: 7px;
  }

  .copyright {
   font-size: 8px;
  }

  
  .btn {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
    padding-bottom: 10px;
    height: 500px
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right{
    display:none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon{
    display:block;
  }
  
  .top-wrapper h1 {
    font-size: 30px;
    line-height: 37px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;

  }
  .wrapper-right{
    padding: 0;
    margin: 0 auto;
  }
  .wrapper-left{
    padding: 0;
    margin: 0;

  }
  .logo-wrapper{
    display: none;
  }

  .about-section {
    height: 370px ;
  }
  .about-section h1{
    font-size: 35px ;
  }
  .about-section p{
    font-size: 17px ;
    text-align: left;
  }
   .gam{
    display: none;
  }

}